{% extends "base.html" %}

{% block content %}

        <h1> Plants </h1>
        <table>
            <tr>
                <th> </th>
                <th> Plant ID </th>
                <th> Plant Name </th>
                <th> Adoption Date </th>
                <!-- <th> Death Date </th> -->
                <th> Pot Size </th>
                <th> Purchase Location </th>
                <th> Purchase Price </th>
                <!-- <th> User ID </th> -->
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
        {% for plant in plants %}
        <tr>
            <td><input type="checkbox" name="plant_checkbox" value={{plant.plant_id}} /></td>
            <td> {{ plant.plant_id }} </td>
            <td> {{ plant.plant_name }} </td>
            <td> {{ plant.adoption_date }} </td>
            <!-- <td> {{ plant.death_date }} </td> -->
            <td> {{ plant.pot_size }} </td>
            <td> {{ plant.purchase_location }} </td>
            <td> {{ plant.purchase_price }} </td>
            <!-- <td> {{ plant.user_id }} </td> -->
            <td><input type="submit" name="water_plant" value="Water"></td>
            <td><input type="submit" name="update_plant" value="Update"></td>
            <td><input type="submit" name="delete_plant" value="Delete"></td>
        </tr>
        {% endfor %}
        </table>
       
        <br>

{% endblock %}